<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a class="nav_link" href="/">Home</a>
        <a class="nav_link" href="/about.html">About</a>
    </header>

    <h1>SIMPLE WEATHER</h1>
    <h2>a simple weather information app built with the Mapbox and WeatherStack APIs</h2>

    <div class="about-content">
        <p>
            Hi. I am Kaung Myat Zaw, an undergraduate CS major from Purdue University passionate about fullstack web development. 
            I am interested in and would like to explore mobile development as well in the future.  
        </p>
        <p>
            I built this project to solidify and strengthen my understanding on Node, Express and interacting with REST APIs.
            To keep the frontend simple, I used a templating engine (handlebars.js) and plain HTML/CSS with Javascript to serve up webpages using Express. 
        </p>
        <p>
            Here's a link to the GitHub repo for the source code: <a href="https://github.com/KyleKMZ/Weather-APIs-Project">Simple Weather - Github Repo</a>
        </p>
    </div>
</header>