<!DOCTYPE html>

<head>
    <title>Simple Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/about.html">About</a>
    </header>

    <h1>SIMPLE WEATHER</h1>
    <h2>a simple weather forecasting app built with the Mapbox and WeatherStack APIs...</h2>

    <form>
        <input placeholder="Enter location...">
        <button>Search Location</button>
    </form>

</body>