<!DOCTYPE html>

<head>
    <title>Simple Weather</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/about.html">About</a>
    </header>

    <h1>SIMPLE WEATHER</h1>
    <h2>a simple weather information app built with the Mapbox and WeatherStack APIs</h2>

    <form>
        <input placeholder="Enter location...">
        <button>Search Location</button>
    </form>

    <p id='loading-error'>Loading_Error Placeholder</p>

    <div class="main-content">

        <p id='location'>Location: </p>

        <div class="weather_description">
            <p id="description">Description: </p>
        </div>

        <div class="temperatures">
            <div class="temp_box">
                <p id="temp_title">Temperature in Fahrenheit </p>
                <p id="fahrenheit_temp">0F</p>
                <p id="fahrenheit_feels">but feels like 0F</p>
            </div>
            <div class="temp_box">
                <p id="temp_title">Temperature in Celsius </p>
                <p id="celsius_temp">0C</p>
                <p id="celsius_feels">but feels like 0C</p>
            </div>
            <div class="temp_box">
                <p id="temp_title">Temperature in Kelvin </p>
                <p id="kelvin_temp">0K</p>
                <p id="kelvin_feels">but feels like 0K</p>
            </div>
        </div>

        <div class="atmosphere_wind">
            
            <div class="atmosphere">
                <p id="humidity">Humidity: 0</p>
                <p id="precipitation">Precipitation: 0</p>
                <p id="pressure">Pressure: 0</p>
            </div>
            
            <div class="wind">
                <p id="w_speed">Wind Speed: 0</p>
                <p id="w_degree">Wind Degree: 0</p>
                <p id="w_direction">Wind Direction: 0</p>
            </div>
        </div>
    </div>

    <script src="/js/app.js"></script>

</body>